body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

section{
    width:100%;
    height:70vh;
    box-sizing: border-box;
}

section.sec1
{
    background: url(img1.jpg);
    background-size: cover;
    background-position: center;
    
    background-attachment: fixed;
}